body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(fondodefiguras.jpg);
    background-size: 100%;
}

.baimg{
    width: 1007px;
}

header {
    background-color: rgba(0, 0, 0, 0.807);
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: rgb(28, 99, 28);
    color: black;
    text-align: center;
    padding: 12px;
    border: black solid;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    margin: 1px;
}

.fafa{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
}

.botones{
    background-color: rgb(28, 99, 28);
    color: white;
    padding: 5px;
    border: rgb(14, 190, 11) 3px solid;
    font-weight: bold;
    border-radius: 5%;
    font-size: 13px;
}

.botonesregresar {
    background-color: rgb(28, 99, 28);
    color: white;
    padding: 5px;
    border: rgb(14, 190, 11) 3px solid;
    font-weight: bold;
    border-radius: 5%;
    font-size: 13px;
    position: absolute;
    left: 1250px;
    top: 118px;
}

.figuras {
    height: 50px;
    width: 590px;
    background-color: rgba(0, 0, 0, 0.696);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 2%;
    color: white;
}

.dragonball {
    height: 380px;
    width: 250px;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 2%;
}
.dragonballimg {
    transition: 1s;
}

.dragonballimg:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px blueviolet;
    -webkit-box-shadow: 0px 0px 15px 15px blueviolet;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition: 1s;
}

.shazam {
    height: 380px;
    width: 250px;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 2%;
}

.shazamimg {
    height: 230px;
}
.shazamimg:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px blueviolet;
    -webkit-box-shadow: 0px 0px 15px 15px blueviolet;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition: 1s;
}

.brawlstar {
    height: 380px;
    width: 250px;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 2%;
}

.brawlstarimg {
    height: 200px;
    transition: 1s;
}
.brawlstarimg:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px blueviolet;
    -webkit-box-shadow: 0px 0px 15px 15px blueviolet;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition: 1s;
}

.halo {
    height: 380px;
    width: 250px;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 2%;
}

.haloimg {
    height: 230px;
    transition: 1s;
}
.haloimg:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px blueviolet;
    -webkit-box-shadow: 0px 0px 15px 15px blueviolet;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition: 1s;
}

.wwe {
    height: 380px; 
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 2%;
}

.wweimg {
    height: 230px;
    transition: 1s;
}
.wweimg:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px blueviolet;
    -webkit-box-shadow: 0px 0px 15px 15px blueviolet;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition: 1s;
}

.mario {
    height: 380px;
    width: 250px;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 2%;
}

.marioimg {
    height: 230px;
    transition: 1s;
}
.marioimg:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px blueviolet;
    -webkit-box-shadow: 0px 0px 15px 15px blueviolet;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition: 1s;
}
.mainfiguras{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}